/* CSS reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
    scroll-behavior: smooth;
    font-family: "Rubik Mono One", sans-serif;
    font-size: 16px;
}



/* navigazione e links */
nav {
    position: fixed;
    right: 1rem;
    top: 2rem;
    z-index: 2;
    font-size: 0;
}

nav a {
    height: 3rem;
    width: 3rem;
    background-color: #fff;
    transition: 0.4s;
    border-radius: 100%;
    margin-right: 1.2rem;
    text-align: center;
    position: relative;
    font-size: 1.2rem;
    color: #333;
}

nav a:hover {
    background-color: #eee;
    box-shadow: 0 0 1rem #333;
    color: #000;
}

nav a:active {
    background-color: #999;
}

nav a:last-child {
    margin-right: 0;
}

a, a:hover {
    text-decoration: none;
    display: inline-block;
}

#red a{
    color: rgb(221, 190, 53);
    transition: 0.4s;
}

#red a:hover {
    color: rgb(175, 150, 38);
}

#green a {
    color: rgb(221, 190, 53);
    transition: 0.4s;
}

#green a:hover {
    color: rgb(175, 150, 38);
}

#yellow a {
    color: rgb(27 129 42);
    transition: 0.4s;
}

#yellow a:hover {
    color: rgb(21, 97, 32);
    transition: 0.4s;
}



/* contenuto */
article {
    height: 100vh;
    position: relative;
}

.box {
    width: 50%;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.2rem;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#red {
    background-color: rgba(221, 53, 53);
}

#green {
    background-color: rgb(27 129 42);
}

#yellow {
    background-color: rgb(221, 190, 53);
}

article img {
    width: 100%;
    margin-bottom: 1rem;
}